
body {

    height: 100vh;
    display: flex;
    justify-content: center;

}
.container{
    margin: 0;
    width: 100%;
    max-width: 680px;
    padding: 50px 200px 0;;
    background-color: rgb(217, 4, 4);
  
}

h1 {
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-family: 'Allura', cursive;
    font-size: 3rem;
}

.innerContainer {
    border: 2px solid black;
    background-color: white;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.box {
    box-sizing: border-box;
    aspect-ratio: 1;
    /* border: 1px solid blue; */
}
.hoverEffect {
    background-color:rgb(105,105,105)

}
.btn_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto;
  
}
.btn {
width: 100px;
height: 100px;
background-color: white;
border: 2px dotted black;
border-radius: 50%;

}
